<div class="col-md-8 offset-md-2 jumbotron">
  <h1 class="text-center"> Presença de jogadores por partida </h1>
  <h3 class="text-center"> Partida dia: <%= @match.date.strftime('%d/%m/%Y') %></h3>

  <%= form_for "search", method: :get, url: new_match_presence_path  do |f| %>
    <div class="input-group input-group-lg">
      <%= f.text_field :keywords, class: "form-control input-lg"  %>
      <span class="input-group-btn">
        <%= f.submit "Search", class: "btn btn-info btn-lg" %>
      </span>
    </div>
  <% end %>
</div>
<br/>

<div class="col-md-12 jumbotron presences">
  <% unless @players.blank? %>
    <% @players.order(:name).each do |player| %>
      <div class="card" id="player_<%= player.id %>">
        <% presence = player.played_match(@match.id) %>
        <% if presence.blank? %>
          <%= player.name %> <%= "( #{player.nickname} )" unless player.nickname.nil? %>
        <% else %>
          <%= render partial: "form_presence", locals: { player: player, presence: presence } %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
