<%- model_class = Video -%>

<div class="col-md-12 jumbotron">
  <h1 class="text-center"><%=t 'content.reports.titles.videos' %></h1>

  <table class="table">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= t('activerecord.attributes.video.date_match') %></th>
        <th><%= model_class.human_attribute_name(:date) %></th>
        <th><%= model_class.human_attribute_name(:url) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @videos.each do |video| %>
        <tr>
          <td><%= link_to video.id, video_path(video) %></td>
          <td><%=l video.match.date unless video.match.nil? %></td>
          <td><%=l video.date %></td>
          <td><%= video.url %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_video_path(video), :class => 'btn btn-primary btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        video_path(video),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_video_path,
              :class => 'btn btn-primary' %>
</div>
