
<p id="notice"><%= notice %></p>
<%- model_class = Match -%>

<div class="page-header">
  <h1><%=t 'helpers.titles.list', :model => @matches.model_name.human.pluralize.titleize %></h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:finished) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><b><%= match.id %></b></td>
        <td><%= match.date.strftime("%d/%m/%Y") %></td>
                <td><%= match.finished? ? "Sim" : "Não" %></td>
        <td><%= link_to t("helpers.links.show"), match, class: "btn btn-default" %></td>
        <td><%= link_to t("helpers.links.edit"), edit_match_path(match), class: "btn btn-default" %></td>
        <td>
          <%= link_to t("helpers.links.destroy"), match, method: :delete, 
              data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("helpers.links.new"), new_match_path, class: "btn btn-info" %>
