<p id="notice"><%= notice %></p>

<p>
  <td><%= image_tag(@match.sumula_link.url) %></td>
  <strong>Date:</strong>
  <%= @match.date %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
