<% content_for :matches do %>
	<%= "class=active" %>
<% end %>

<h1 class="striker_h1"> <%= t('content.reports.titles.match_detail') %> <%= "#{@match.id} (#{@match.date.strftime("%d/%m/%Y")})" %> </h1>

<h3><%= link_to t('content.reports.docket').upcase, @match.sumula_link, target: "_blank" %></h3>

<table class="table table-bordered table-strikers">
	<thead>
		<th> <%= t('content.reports.player') %> </th>
		<th> <%= t('content.reports.team') %> </th>
		<th> <%= t('content.reports.goals') %> </th>
	</thead>
	<tbody>
	<% @presences.each do |presence| %>
		<% player = Player.find(presence.player_id) %>
		<tr>
			<td> 
				<%= player.name %> 
				<% unless (player.nickname.nil? or player.nickname.blank?) %> 
					<%= " ( #{player.nickname} )" %>
				<% end %>
			</td>
			<% 
				complement = "#FFF"
				if !presence.team.nil?
					complement = presence.team.rgb
				end
			 %>
			<td style="background-color: <%= complement %>">
			</td>
			<td> <%= presence.goals %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<h3><%= link_to t('helpers.links.back'), "/reports/matches" %></h3>