<% content_for :matches do %>
	<%= "class=active" %>
<% end %>

<div class="col-md-12 div-detail text-center">
	<h2> <%= t('content.reports.titles.match_detail') %> <%= "#{@match.id} (#{ l @match.date})" %> </h2>
	<% if @match.sumula_link.url.nil? %>
		<p class="text-center">
			<%= t('content.reports.docket_not_found') %>
		</p>
	<% else %>
		<p class="text-center">
			<%= link_to t('content.reports.docket').upcase, @match.sumula_link.url, class: "btn btn-blue" %>
		</p>
	<% end %>

	<table class="table	">
		<thead>
			<th> <%= t('content.reports.player') %> </th>
      <th> <%= t('content.reports.goals') %> </th>
			<th> <%= t('content.reports.team') %> </th>
		</thead>
		<tbody>
		<% @presences.each do |presence| %>
			<% player = Player.find(presence.player_id) %>
			<tr>
				<td>
					<%= player.name %>
					<% unless (player.nickname.nil? or player.nickname.blank?) %>
						<%= " ( #{player.nickname} )" %>
					<% end %>
				</td>
				<%
					complement = "#FFF"
					if !presence.team.nil?
						complement = presence.team.rgb
					end
				 %>
         <td> <%= presence.goals %></td>
				<td style="color: <%= complement %>"><%= fa_icon "square 2x" %>	</td>
			</tr>
		<% end %>
		</tbody>
	</table>

	<%= link_to t('helpers.links.back'), "/reports/matches", class: 'btn btn-blue' %>
</div>
