<% content_for :matches do %>
	<%= "class=active" %>
<% end %>

<div class="col-md-12">
  <ul class="nav nav-pills nav-fill nav-strikers nav-pills" role="tablist">
    <% @matches.each do |year, _matches| %>
      <li class="nav-item">
        <a
          class="nav-link nav-item <%= 'active' if year == @matches.keys.first %>"
          href="#year_<%= year %>"
          data-toggle="pill"
          role="pill"
          aria-controls="year_<%= year %>"><%= year %>
        </a>
      </li>
    <% end %>
  </ul>

	<div class="tab-content">
    <% @matches.each do |year, matches| %>
      <% if matches.empty? %>
        <div
            class="jumbotron text-center tab-pane <%= pill_class(year, @matches) %>"
            id="year_<%= year %>"
            role="tabpanel"
            aria-labelledby="year_<%= year %>-pill">
          Nenhum resultado
        </div>
      <% else %>
        <div class="tab-pane <%= pill_class(year, @matches) %>" id="year_<%= year %>">
        	<table class="table">
        		<thead>
        			<th> <%= t('content.reports.matches').singularize %> </th>
              <th> <%= t('content.reports.data') %> </th>
        			<th> <%= t('content.reports.videos') %> </th>
        			<th> <%= t('content.reports.details') %> </th>
        		</thead>
        		<tbody>
        		<% matches.each_with_index do |match, i| %>
        			<tr>
        				<td> <%= matches.size - i %></td>
        				<td> <%= l match.date, :format => :default %></td>
        				<td class="video-list">
        					<% match.videos.each do |video| %>
                    <%= link_to fa_icon("youtube-play 1x"),
                      '#',
                      'data-toggle' => "modal",
                      'data-target' => "#videoModal",
                      'data-url' => video.url,
                      'data-description' => video.description %>
        					<% end %>
        				</td>
        				<td> <%= link_to fa_icon("list-ul"), reports_match_detail_url(match.id) %> </td>
        			</tr>
        		<% end %>
        		</tbody>
        	</table>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
        <iframe class=".video_url" width="470" height="300" src="#" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<script>
  $('#videoModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var url = button.data('url');
    var description = button.data('description');
    var modal = $(this)
    modal.find('.modal-title').text(description);
    modal.find('iframe').attr('src', url)
  })
</script>
