<% content_for :players do %>
	<%= "class=active" %>
<% end %>

<div class="col-lg-4 col-md-12 jumbotron text-center">
	<h3><%= player_name(@player) %></h3>

	<% if @player.avatar.url.blank? %>
		<%= image_tag("profile_default.png", style: "width: 100%; margin: 0px auto 0px auto;" ) %>
	<% else %>
		<%= image_tag(@player.avatar.url, style: "width: 100%; margin: 0px auto 0px auto;" ) %>
	<% end %>

	  <p><strong><%= t('content.reports.matches_played') %>:</strong> &nbsp;<%= @matches_played.size %></p>
	  <p><strong><%= t('content.reports.goals') %>:</strong>&nbsp; <%= @goals  %></strong></p>
		<p><strong><%= t('content.reports.assist') %>:</strong>&nbsp; <%= @assist  %></strong></p>
	  <p><strong><%= t('content.reports.goals_per_match') %>:</strong>&nbsp; <%= @goals_match %></strong></p>
</div>

<div class="col-lg-8 col-md-12">
	<div id="gol_chart" class="jumbotron"></div>

	<div class="jumbotron text-center">
		<h3> <%= t('content.reports.best_team') %> ( <%= " #{@best_team[:top_goals]} gols" %> )</h3>
		<%= link_to "#{t('content.reports.matches').singularize} #{@best_team[:best_id]}", "/reports/match_detail/#{@best_team[:best_id]}", id: @best_team[:best_id] %>
		<table class="table text-center striker-team">
			<thead class="thead-inverse">
				<th><%= t('content.reports.player') %></th>
				<th><%= t('content.reports.goals') %></th>
			</thead>
			<tbody>
				<% @best_team[:top_team].each do |player| %>
					<tr>
						<td> <%= player_name(player[0]) %> </td>
						<td> <%= player[1] %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="jumbotron text-center">
		<h3> <%= t('content.reports.worst_team') %> ( <%= " #{@best_team[:worst_goals]} gols" %> )</h3>
		<%= link_to "#{t('content.reports.matches').singularize} #{@best_team[:worst_id]}", "/reports/match_detail/#{@best_team[:worst_id]}", id: @best_team[:worst_id] %>
		<table class="table text-center striker-team">
			<thead class="thead-inverse">
				<th><%= t('content.reports.player') %></th>
				<th><%= t('content.reports.goals') %></th>
			</thead>
			<tbody>
				<% @best_team[:bad_team].each do |player| %>
					<tr>
						<td> <%= player_name(player[0]) %> </td>
						<td> <%= player[1] %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
</div>


<script>

	$(document).ready(function() {
	    $('#gol_chart').highcharts({
	        title: {
	            text: '<%= t('content.reports.goals_per_match') %>',
	            x: -20
	        },
	        xAxis: {
	            categories: <%= @matches_played.collect{|mp| mp.match.id} %>
	        },
	        yAxis: {
	            title: {
	                text: '<%= t('content.reports.goals') %>'
	            },
	            plotLines: [{
	                value: 0,
	                width: 1,
	                color: '#808080'
	            }]
	        },
	        tooltip: {
	            valueSuffix: ' <%= t('content.reports.goals') %>'
	        },
	        legend: {
	            layout: 'vertical',
	            align: 'right',
	            verticalAlign: 'middle',
	            borderWidth: 0
	        },
	        series: [{
	            name: '<%= t('content.reports.goal_average') %>',
	            color: '#999999',
	            data: <%= @matches_played.collect{|mp| mp.match.average_goal_by_player} %>
	        },
	        {
	            name: '<%= t('content.reports.goals_made_by') %>',
	            color: '#700000',
	            data: <%= @matches_played.collect{|mp| mp.goals} %>
	        }]
	    });
	});
  $("#season_select").change(function(){
		var season = $("#season_select").val();
		window.location.href = '/reports/player/<%= @player.id %>'+'?season='+season;
	});
</script>
