<style>
	a:hover{
		background-color: #700000 !important;
		color: #FFF !important;
	}
	.top-text{
		color: #700000;
		margin-top: 20px;
	}
</style>

<% content_for :top_strikers do %>
	<%= "class=active" %>
<% end %>

<div class="text-center top-text">
		<%= t('content.reports.titles.current_season') %> <%= select_tag "season", options_from_collection_for_select( Season.all, "id", "id", @season.id), id: 'season_select' %>
</div>

<h1 class="striker_h1"> <%= t('content.reports.titles.overview') %> </h1>

<table class="table table-bordered table-strikers">
	<thead>
		<th> <%= t('content.reports.matches') %> </th>
		<th> <%= t('content.reports.goals') %> </th>
		<th> <%= t('content.reports.goal_average') %> </th>
	</thead>
	<tbody>
		<tr>
			<td> <%= @matches %> </td>
			<td> <%= @goals %> </td>
			<td> <%= (@goals/@matches.to_f).round(1) %> </td>
		</tr>
	</tbody>
</table>

<h1 class="striker_h1"> <%= t('content.reports.titles.strikers') %>  </h1>
<table class="table table-bordered table-strikers">
	<thead>
		<th> <%= t('content.reports.player') %> </th>
		<th> <%= t('content.reports.goals') %> </th>
		<th> <%= t('content.reports.assist') %> </th>
	</thead>
	<tbody>
	<% @result.each do |result| %>
		<tr>
			<td> <%= link_to "#{result['name']}", "/reports/player/#{result['id']}" %></td>
			<td> <b><%= result["goals"] %></b> </td>
			<td> <b><%= result["assist"] %></b> </td>
		</tr>
	<% end %>
	</tbody>
</table>

<script>
  $("#season_select").change(function(){
		var season = $("#season_select").val();
		window.location.href = '/reports/top_strikers/'+season;
	});
</script>
