<% content_for :top_strikers do %>
	<%= "class=active" %>
<% end %>

<div class="col-md-12">
  <ul class="nav nav-pills nav-fill nav-strikers nav-pills" role="tablist">
    <% @result.each do |year, _strikers| %>
      <li class="nav-item">
        <a
          class="nav-link nav-item <%= 'active' if year == @result.keys.first %>"
          href="#year_<%= year %>"
          data-toggle="pill"
          role="pill"
          aria-controls="year_<%= year %>"><%= year %>
        </a>
      </li>
    <% end %>
  </ul>

	<div class="tab-content">
	  <% @result.each do |year, strikers| %>
	    <% if strikers.empty? %>
	      <div
	          class="jumbotron text-center tab-pane <%= pill_class(year, @result) %>"
	          id="year_<%= year %>"
	          role="tabpanel"
	          aria-labelledby="year_<%= year %>-pill">
	        Nenhum resultado
	      </div>
	    <% else %>
				<div class="tab-pane <%= pill_class(year, @result) %>" id="year_<%= year %>">
		      <table class="table">
		      	<thead>
		      		<th> Posição </th>
		      		<th colspan="2" class="text-left"> Jogador </th>
		      		<th> Gols </th>
		      		<th> Assistencias </th>
		          <th> Detalhes </th>
		      	</thead>
		      	<tbody>
		      		<% strikers.each_with_index do |result, pos| %>
		      			<tr>
		      				<td><%= "#{pos+1}" %></td>
		      				<td class="avatar">
										<div class="avatar-frame">
			      					<% if result["avatar"].blank? %>
			      						<%= image_tag("profile_default.png", class: "avatar") %>
			      					<% else %>
			      						<%= image_tag(result["avatar"], class: "avatar" ) %>
			      					<% end %>
										</div>
		      				</td>
		      				<td><%= result['name'] %></td>
		      				<td><b><%= result["goals"] %></b></td>
		      				<td><%= result["assist"] %></td>
		              <td class="player-details"><%= link_to fa_icon("area-chart"), reports_player_url(result["id"]) %> </td>
		      			</tr>
		      		<% end %>
		      	</tbody>
		      </table>
				</div>
	    <% end %>
	  <% end %>
	</div>
</div>

<script>
  $("#season_select").change(function(){
		var season = $("#season_select").val();
		window.location.href = '/reports/top_strikers/'+season;
	});
</script>
