<% content_for :top_strikers do %>
	<%= "class=active" %>
<% end %>

  <ul class="nav nav-pills nav-fill col-md-12 nav-strikers">
    <li class="nav-item">
      <a class="nav-link nav-item active" href="#">2017</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-item"  href="#">2016</a>
    </li>
  </ul>

<table class="table col-md-12">
	<thead>
		<th> Posição </th>
		<th colspan="2" class="text-left"> Jogador </th>
		<th> Gols </th>
		<th> Assistencias </th>
    <th> Detalhes </th>
	</thead>
	<tbody>
		<% @result.each_with_index do |result, pos| %>
			<tr>
				<td><%= "#{pos+1}" %></td>
				<td class="avatar">
					<% if result["avatar"].blank? %>
						<%= image_tag("profile_default.png", class: "avatar") %>
					<% else %>
						<%= image_tag(result["avatar"], class: "avatar" ) %>
					<% end %>
				</td>
				<td><%= result['name'] %></td>
				<td><b><%= result["goals"] %></b></td>
				<td><%= result["assist"] %></td>
        <td><%= fa_icon 'access-icon' %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<script>
  $("#season_select").change(function(){
		var season = $("#season_select").val();
		window.location.href = '/reports/top_strikers/'+season;
	});
</script>
