<% content_for :top_strikers do %>
	<%= "class=active" %>
<% end %>

<div class="col-md-9 jumbotron text-center">
	<h1 class="display-5"> <%= t('content.reports.titles.strikers') %>  </h1>
	<% @result.each_with_index do |result, pos| %>
			<div class="card text-center">
				<div class="card-header">
					<% if result["avatar"].blank? %>
						<%= image_tag("profile_default.png", class: "card-img-top", style: "width: 30%; margin: 0px auto 0px auto;" ) %>
					<% else %>
						<%= image_tag(result["avatar"], class: "card-img-top", style: "width: 30%; margin: 0px auto 0px auto;" ) %>
					<% end %>
				</div>
				<div class="card-block">
					<h4 class="card-title">  <%= "##{pos+1}" %> &nbsp; <%= result['name'] %> </h4>
					<table class="table">
						<thead>
							<th class="text-center"> <big><%= t('content.reports.goals') %> </big></th>
							<th class="text-center"> <big> <%= t('content.reports.assist') %> </big></th>
						</thead>
						<tbody>
							<td><big><%= result["goals"] %></big></td>
							<td><big><%= result["assist"] %></big></td>
						</tbody>
					</table>
					<%= link_to t('content.reports.player_details'), "/reports/player/#{result['id']}", {class: "btn btn-outline-primary btn-block" }%>
				</div>
			</div>
	<% end %>
</div>

<div class="col-md-3">
	<div class="jumbotron text-center">
		<h3> <%= t('content.reports.titles.season') %> <h3>
		<%= select_tag "season", options_from_collection_for_select( Season.all, "id", "id", @season.id), id: 'season_select', class: "form-control" %>
	</div>

	<div class="jumbotron text-center">
		<h3> <%= t('content.reports.titles.overview') %> </h3>
		<hr class="my-4">
		<p> <big><%= t('content.reports.matches') %>:&nbsp; <b><%= @matches %></b></big> </p>
		<p> <big><%= t('content.reports.goals') %>: &nbsp; <b><%= @goals %></b></big> </p>
		<p> <big><%= t('content.reports.goal_average') %>: &nbsp; <b><%= (@goals/@matches.to_f).round(1) %></b></big></p>
	</div>
</div>

<script>
  $("#season_select").change(function(){
		var season = $("#season_select").val();
		window.location.href = '/reports/top_strikers/'+season;
	});
</script>
