<div class="list-group adm-container">
  <div class="list-group-item active">
    Admin Menu
  </div>
  <a href="/players" class="list-group-item"><%= t('content.menu.players') %></a>
  <a href="/matches" class="list-group-item"><%= t('content.menu.matches') %></a>
  <a href="/seasons" class="list-group-item"><%= t('content.menu.seasons') %></a>
  <a href="/videos" class="list-group-item"><%= t('content.menu.videos') %></a>
  <ul class="list-group">
  <div class="list-group-item">
    <span class="badge" style="vertical-align: center;"><%= open_matches %></span>
    <a href="/presences" style="background: transparent;"><%= t('content.menu.report_goals') %></a>
  </div>
</div>
