<!DOCTYPE html>
<html>
<head>
  <title><%= t('content.reports.titles.head') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><%= t('content.reports.titles.main') %></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a href="/" class="nav-item nav-link" ><%= t('content.menu.strikers') %></a>
        <a href="/reports/videos" class="nav-item nav-link"><%= t('content.menu.videos') %></a>
        <a href="/reports/matches" class="nav-item nav-link"><%= t('content.menu.matches') %></a>
        <a href="/reports/players" class="nav-item nav-link"><%= t('content.menu.players') %></a>
      </div>
      <div class="logout">
        <% if user_signed_in? %>
          <span class="navbar-text"><%= current_user.email %></span>
          <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "btn btn-outline-primary" %>
        <% else %>
          <%= link_to t('devise.links.sign_in'), new_user_session_path, class: "btn btn-outline-primary" %>
        <% end %>
      </div>
    </div>
  </nav>

  <% if user_signed_in? %>
    <div class="row">
      <div class="container-fluid">
        <%= render "layouts/admin_menu" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="container-fluid">
      <% flash.each do |key, message| %>
        <div class="text-center alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
          <%= message %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>

</body>
</html>
