<!DOCTYPE html>
<html>
<head>
  <title><%= t('content.reports.titles.head') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><%= t('content.reports.titles.main') %></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a href="/" class="nav-item nav-link" ><%= t('content.menu.strikers') %></a>
        <a href="/reports/matches" class="nav-item nav-link"><%= t('content.menu.matches') %></a>
        <a href="/reports/players" class="nav-item nav-link"><%= t('content.menu.players') %></a>
        <% if user_signed_in? %>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-primary" style="color: #FFF;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admin Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a href="/players" class="dropdown-item"><%= t('content.menu.players') %></a>
              <a href="/matches" class="dropdown-item"><%= t('content.menu.matches') %></a>
              <a href="/seasons" class="dropdown-item"><%= t('content.menu.seasons') %></a>
              <a href="/videos" class="dropdown-item"><%= t('content.menu.videos') %></a>
              <a href="/presences" class="dropdown-item"><%= t('content.menu.report_goals') %></a>
            </div>
          </div>
          <% end %>
       </div>
       <div class="logout">
         <% if user_signed_in? %>
           <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "btn btn-outline-primary" %>
         <% else %>
           <%= link_to t('devise.links.sign_in'), new_user_session_path, class: "btn btn-outline-primary" %>
         <% end %>
       </div>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="container-fluid">
      <% flash.each do |key, message| %>
        <div class="text-center alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
          <%= message %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>

</body>
</html>
